$body-bg-color: #002e3c;
$selection-bg-color: #2489db;
$selection-fg-color: #eeeeee;
$border-tl-color: #00ffbf;
$border-tr-color: #ff6600;
$border-bl-color: #4d23ae;
$border-br-color: #ffffff;
$button-bg-color: #12be8b;
:root {
  --container-width: 500px;
  --container-height: 500px;
}